<!DOCTYPE html>
<html lang="de" manifest="/manifest.appcache">

    <head>
        <meta charset="utf-8">
        <title>localstorage &amp; manifest test</title>
        <link rel="stylesheet" type="text/css" href="/static/base.css" />
        <script type="text/javascript" src="/static/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/static/base.js"></script>
    </head>

    <body>
        <div clas="container">
            <h1>localstorage &amp; manifest test</h1>
            <p id="online_status">
                pending...
            </p>

            <p>
                <h2>Data:</h2>
                <ul id="data_list"></ul>
            </p>

            <p>
                <button class="btn" id="clear_localstorage_button">clear data</button>
                <button class="btn" id="load_data_button">load data</button>
            </p>
        </div>
    </body>

</html>